<%- include("partials/header.ejs") %>

<main>
    <div id="dark_mode_info">
        <p>(Click me for dark mode)</p>
    </div>
    <div class="container justify-content-center">
        <div class="row main_full justify-content-center">
            <div class="col-lg-4 col-md-5 col-8 main_picture justify-content-center">
                <img src="images/me.jpg" alt="My Picture"/>
            </div>
            <div class="col-xxl-6 col-xl-7 col-lg-9 col-md-11 col-12 main_heading justify-content-center">
                <p>Hello I'm,</p>
                <p id="name">Emrakh Ibragimov</p>
                <div class="animation_words">
                    <div class="words">
                        <span>Full-Stack</span>
                        <span>Front-End</span>
                        <span>Back-End</span>
                        <span>Full-Stack</span>
                    </div>
                    <span>Developer</span>
                </div>
                <div class="buttons">
                    <button class="btn github-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 496 512"><style>svg{fill: var(--main-color)}</style><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
                    </button>
                    <button class="btn linkedin-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                    </button>
                    <button class="btn email-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>                    </button>
                    <button class="btn phone-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                    </button>
                    <button class="btn resume">Resume</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="chevron" id="quote_chevron">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
        </button>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-11 quote">
            <p id="leading_p">(Here is a quote from my list of favorites. Refresh for a new one!)</p>
            <p><%= quote %></p>
            <p>-<%= author %></p>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="divider_parent row">
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M308.5 135.3c7.1-6.3 9.9-16.2 6.2-25c-2.3-5.3-4.8-10.5-7.6-15.5L304 89.4c-3-5-6.3-9.9-9.8-14.6c-5.7-7.6-15.7-10.1-24.7-7.1l-28.2 9.3c-10.7-8.8-23-16-36.2-20.9L199 27.1c-1.9-9.3-9.1-16.7-18.5-17.8C173.9 8.4 167.2 8 160.4 8h-.7c-6.8 0-13.5 .4-20.1 1.2c-9.4 1.1-16.6 8.6-18.5 17.8L115 56.1c-13.3 5-25.5 12.1-36.2 20.9L50.5 67.8c-9-3-19-.5-24.7 7.1c-3.5 4.7-6.8 9.6-9.9 14.6l-3 5.3c-2.8 5-5.3 10.2-7.6 15.6c-3.7 8.7-.9 18.6 6.2 25l22.2 19.8C32.6 161.9 32 168.9 32 176s.6 14.1 1.7 20.9L11.5 216.7c-7.1 6.3-9.9 16.2-6.2 25c2.3 5.3 4.8 10.5 7.6 15.6l3 5.2c3 5.1 6.3 9.9 9.9 14.6c5.7 7.6 15.7 10.1 24.7 7.1l28.2-9.3c10.7 8.8 23 16 36.2 20.9l6.1 29.1c1.9 9.3 9.1 16.7 18.5 17.8c6.7 .8 13.5 1.2 20.4 1.2s13.7-.4 20.4-1.2c9.4-1.1 16.6-8.6 18.5-17.8l6.1-29.1c13.3-5 25.5-12.1 36.2-20.9l28.2 9.3c9 3 19 .5 24.7-7.1c3.5-4.7 6.8-9.5 9.8-14.6l3.1-5.4c2.8-5 5.3-10.2 7.6-15.5c3.7-8.7 .9-18.6-6.2-25l-22.2-19.8c1.1-6.8 1.7-13.8 1.7-20.9s-.6-14.1-1.7-20.9l22.2-19.8zM112 176a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM504.7 500.5c6.3 7.1 16.2 9.9 25 6.2c5.3-2.3 10.5-4.8 15.5-7.6l5.4-3.1c5-3 9.9-6.3 14.6-9.8c7.6-5.7 10.1-15.7 7.1-24.7l-9.3-28.2c8.8-10.7 16-23 20.9-36.2l29.1-6.1c9.3-1.9 16.7-9.1 17.8-18.5c.8-6.7 1.2-13.5 1.2-20.4s-.4-13.7-1.2-20.4c-1.1-9.4-8.6-16.6-17.8-18.5L583.9 307c-5-13.3-12.1-25.5-20.9-36.2l9.3-28.2c3-9 .5-19-7.1-24.7c-4.7-3.5-9.6-6.8-14.6-9.9l-5.3-3c-5-2.8-10.2-5.3-15.6-7.6c-8.7-3.7-18.6-.9-25 6.2l-19.8 22.2c-6.8-1.1-13.8-1.7-20.9-1.7s-14.1 .6-20.9 1.7l-19.8-22.2c-6.3-7.1-16.2-9.9-25-6.2c-5.3 2.3-10.5 4.8-15.6 7.6l-5.2 3c-5.1 3-9.9 6.3-14.6 9.9c-7.6 5.7-10.1 15.7-7.1 24.7l9.3 28.2c-8.8 10.7-16 23-20.9 36.2L315.1 313c-9.3 1.9-16.7 9.1-17.8 18.5c-.8 6.7-1.2 13.5-1.2 20.4s.4 13.7 1.2 20.4c1.1 9.4 8.6 16.6 17.8 18.5l29.1 6.1c5 13.3 12.1 25.5 20.9 36.2l-9.3 28.2c-3 9-.5 19 7.1 24.7c4.7 3.5 9.5 6.8 14.6 9.8l5.4 3.1c5 2.8 10.2 5.3 15.5 7.6c8.7 3.7 18.6 .9 25-6.2l19.8-22.2c6.8 1.1 13.8 1.7 20.9 1.7s14.1-.6 20.9-1.7l19.8 22.2zM464 304a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                </div>
                <h1>Back End</h1>
                <p>Python</p>
                <p>Flask</p>
                <p>Django</p>
                <p>NodeJS</p>
                <p>ExpressJS</p>
                <p>Motoko (Web3)</p>
                <p>C</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M64 96c0-35.3 28.7-64 64-64H512c35.3 0 64 28.7 64 64V352H512V96H128V352H64V96zM0 403.2C0 392.6 8.6 384 19.2 384H620.8c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8H76.8C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/></svg>
                </div>
                <h1>Front End</h1>
                <p>HTML</p>
                <p>CSS</p>
                <p>React</p>
                <p>JavaScript</p>
                <p>JQuery</p>
                <p>Bootstrap</p>
                <p>Tailwind</p>
                <p>SASS</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 448 512"><path d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"/></svg>
                </div>
                <h1>Databases</h1>
                <p>SQLite</p>
                <p>PostgreSQL</p>
                <p>MySQL</p>
                <p>MongoDB</p>
                <p>Mongoose</p>
                <p>SQLAlchemy</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M384 96V320H64L64 96H384zM64 32C28.7 32 0 60.7 0 96V320c0 35.3 28.7 64 64 64H181.3l-10.7 32H96c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c17.7 0 32-14.3 32-32s-14.3-32-32-32H277.3l-10.7-32H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm464 0c-26.5 0-48 21.5-48 48V432c0 26.5 21.5 48 48 48h64c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H528zm16 64h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16s7.2-16 16-16zm-16 80c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16zm32 160a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
                </div>
                <h1>Other Tools</h1>
                <p>Git</p>
                <p>GitHub</p>
                <p>Docker</p>
                <p>Heroku</p>
                <p>Gunicorn</p>
                <p>Digital Ocean</p>
                <p>VSCode</p>
            </div>
        </div>
    </div>
    <div class="container projects">
        <div class="row mx-1" id="project1">
            <div class="col-md-6 col-12">
                <h1>1. SoNet</h1>
                <p id="important">
                    This meticulously crafted <u>forum social media app</u> serves as a testament to my abilities, offering a large array of features. 
                    I invite you to experience the application as a demo user.
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>User registration and authentication</li>
                        <li>Profile customization</li>
                        <li>Post creation, modification, and deletion (latter two only if you're the author)</li>
                        <li>Like a post with live feedback</li>
                        <li>Comment on posts and reply to previous comments</li>
                        <li>Display nested comments</li>
                        <li>View users' pages with account infomation and all posts</li>
                        <li>Follow and unfollow other accounts</li>
                        <li>View a users following and followers list</li>
                        <li>Categorize posts into set categories</li>
                        <li>Sort posts by category, upload date, comment count, or like count</li>
                        <li>Remember sorting filter when page is redirected</li>
                        <li>Search by keywords (scans posts, comments, categories, and usernames)</li>
                        <li>An array of different pagination techniques</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg project">View Project</button>
                    <button class="btn btn-lg source">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/SoNet.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet2.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet3.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet4.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet5.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet6.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/SoNet7.png" class="d-block w-100" alt="Preview">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <div class="tip">
                      <p class="tiptext">Click to expand</p>
                    </div>
                </div>
                <br/>
                <p>Python</p>
                <p>Django</p>
                <p>JavaScript</p>
                <p>SQLite</p>
                <p>PostgreSQL</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>SASS</p>
                <p>Boostrap</p>
            </div>
        </div>
        <div class="row mx-1" id="project2">
            <div class="col-md-6 col-12">
                <h1>2. Emrah's Blog</h1>
                <p id="important">
                    This <u>blog web app</u> was developed for my personal use, but since I haven't had the opportunity to create blog posts yet, the app is currently populated with fictitious posts. 
                    These fabricated posts consist of randomly generated titles, content, and images. They serve as a means for users to fully engage with all the features of the application.
                    Feel free to explore the webpage as a demo user.
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>User registration and authentication</li>
                        <li>Change profile details, like password, email, and username</li>
                        <li>Post creation, modification, and deletion (latter two only if you're the author)</li>
                        <li>Comment on a blog post</li>
                        <li>Categorize blog posts into set categories</li>
                        <li>Sort by all posts category</li>
                        <li>Search by keywords (scans title, content, username, and date)</li>
                        <li>Contact form for questions and problems</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg project">View Project</button>
                    <button class="btn btn-lg source">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div id="carouselExampleDark2" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/E-Blog.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog2.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog3.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog4.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog5.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog6.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/E-Blog7.png" class="d-block w-100" alt="Preview">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <div class="tip">
                      <p class="tiptext">Click to expand</p>
                    </div>
                </div>
                <br/>
                <p>Python</p>
                <p>Flask</p>
                <p>JavaScript</p>
                <p>SQLAlchemy</p>
                <p>SQLite</p>
                <p>PostgreSQL</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>Boostrap</p>
            </div>
        </div>
        <div class="row mx-1" id="project3">
            <div class="col-md-6 col-12">
                <h1>3. Inventory Manager</h1>
                <p id="important">
                    When I embark on creating an application, I prioritize projects that resonate with me, as it ensures my genuine enthusiasm throughout the development process.
                    This is the case with this <u>web-based inventory management application</u>. It was designed with personal business pursuits in mind, which allowed me to craft each portion of the app
                    to fit my needs. 
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>Generate barcodes for new products</li>
                        <li>Scan or enter barcodes to access item information</li>
                        <li>Change the quantity of product</li>
                        <li>Edit product details</li>
                        <li>View all products</li>
                        <li>Search through all products using keywords</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg project">View Project</button>
                    <button class="btn btn-lg source">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div id="carouselExampleDark3" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/Inventory.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/Inventory2.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/Inventory3.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/Inventory4.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/Inventory5.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img src="images/Inventory6.png" class="d-block w-100" alt="Preview" loading="lazy">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button> 
                    <div class="tip">
                      <p class="tiptext">Click to expand</p>
                    </div>
                </div>         
                <br/>
                <p>NodeJS</p>
                <p>ExpressJS</p>
                <p>JavaScript</p>
                <p>MongoDB</p>
                <p>Mongoose</p>
                <p>MongoDB Atlas</p>
                <p>React</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>Boostrap</p>
            </div>
        </div>
        <div class="row mx-1" id="smaller_projects">
            <h1>Smaller Projects</h1>
            <div class="album">
                <div class="container">
                  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
                    <div class="col d-flex align-items-stretch">
                      <div class="card shadow-sm">
                        <img src="images/Bookshelf.png" loading="lazy"/>
                        <div class="card-body d-flex flex-column justify-content-between">
                          <p class="card-text">This web application serves as a <u>bookshelf platform</u>, enabling me to showcase my read books and current reading list.
                            Moreover, it provides me with the capability to modify, update, and remove books, while also welcoming recommendations from anonymous users.
                        </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn" id="bookshelf-view">View Project</button>
                                <button class="btn" id="bookshelf-source">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                      <div class="card shadow-sm">
                        <img src="images/Movies.png" loading="lazy"/>
            
                        <div class="card-body d-flex flex-column justify-content-between">
                          <p class="card-text">This web application is designed to showcase my curated <u>collection of favorite movies</u>. 
                            It first fetches movie details from a movie database API based on a search query. Then, it allows me to select a movie from the presented list and give it a user rating.
                            Finally, all movies are ranked based on rating.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn" id="movies-view">View Project</button>
                                <button class="btn" id="movies-source">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                      <div class="card">
                        <img src="images/Pomodoro.png" loading="lazy"/>
                        <div class="card-body d-flex flex-column justify-content-between">
                          <p class="card-text">This is a Python-based <u>Pomodoro timer application</u>. It operates in cycles of 25 minutes of work followed by 5 minutes of rest. 
                            Upon completing the fifth work session, it provides the user with an extended 25-minute break.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn" id="pomodoro-view">View Project</button>
                                <button class="btn smaller-source">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                        <img src="images/Flashcards.png" loading="lazy"/>
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This Python-based <u>language flashcard app</u> helps you learn the top 1000 words of a desired language. 
                              The green check marks a word as learned, and the red 'x' adds it back to the main deck. 
                              You progress is displayed on top and saved after each interaction.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons">
                                  <button class="btn" id="flashcards-view">View Project</button>
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                          <img src="images/Pong.png" loading="lazy"/>   
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This is a simple <u>Python-based pong game</u> constructed using the Python TKinter module. This was crafted to practice Object Oriented Programming. The arrow keys allow for the movement of player 1 and WASD allows for the movement of player 1. The game is quite slow as it runs on a free server.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons">
                                  <button class="btn" id="pong-view">View Project</button>
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                          <img src="images/Snake.png" loading="lazy"/>  
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This is a simple <u>Python-based snake game</u> constructed using the Python Turtle module. This was also crafted to practice Object Oriented Programming. The game is quite slow as it runs on a free server.
                            You can click space to start and click on the page to exit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons">
                                  <button class="btn" id="snake-view">View Project</button>
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This Python-powered <u>Twitter bot</u> utilitizes the Selenium module to automate the process of ensuring you get the internet speed you've paid for. First, it visits www.speedtest.net to conduct a speed test. 
                              Then, it compares the actual speed recieved from the test to your provider's promised speed. 
                              If it falls short, the bot logs into Twitter and tweets your internet provider about the speed discrepancy.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons">
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This is a <u>Spotify playlist creating application</u> that takes a date input and creates a playlist of the Billboard Top 100 songs of that week.
                            It uses the Spotipy API to the make the playlist and uses BeautifulSoup to take the Top 100 list off of the Billboard Charts website.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons m-0">
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text">This Python <u>automated birthday email sender</u> app operates by running daily at a specified time. 
                              It relies on a JSON file for storing contacts, birthdays, and messages. On a contact's birthday, it sends an email with customized birthday wishes. 
                              You can also switch to using the Twilio API for sending birthday wishes via text message if desired.
                          </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="smaller_project_buttons">
                                  <button class="btn smaller-source">Source Code</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container about">
        <div class="row" id="about_section">
            <div class="col">
                <h1>About Me</h1>
                <p id="important">
                    I'm Emrakh Ibragimov (em-rah ee-bra-heem-ov), a dedicated programmer with a strong enthusiasm for continuous learning. 
                    I possess proficiency in various programming languages and have successfully undertaken numerous distinctive projects in each one.</p>
                <p>
                    My coding journey was initiated with the well known Hardvard course CS50. I only started the course hoping to discover a new hobby, however, I immediatly became obsessed with it. 
                    I eventually started creating my own projects from scratch and taking courses in the topics I was interested in. 
                    Over time, I developed a few great projects to showcase. As I continue to expand my knowledge, 
                    I am better able to turn my ideas into reality in a clean and efficient manner.
                </p>
                <p>
                    Beyond coding, I am known for my ability to quickly adapt, constant motivation to work hard, and 
                    ability to work alongside a team. 
                    Ever since I've started this journey, I've quickly adapted to many different languages, frameworks, and databases. 
                    Without a doubt, there is nothing in this field I cannot learn after a week of deep work and building a handful of projects.
                    I believe my ability to not just work hard, but achieve depth in my work has been vital to my success on this journey.
                    Another vital aspect to my success are my friends and colleagues. I believe that everyone around you knows something you don't, and since this is an ever-changing field, the better you
                    are able to collaborate, the better you will be able to stay up to date.
                </p>
            </div>
        </div>
        <div class="row" id="contact_section">
            <div class="col-lg-8 col-md-10">
                <h1>Contact Me</h1>
                <p class="contact-info" id="personal_phone">Through my cellphone at <span>240-520-8934.<span class="tooltiptext">Click to copy!</span></span></p>
                <p class="contact-info" id="personal_email">Through my email at <span>ibraem1026@gmail.com<span class="tooltiptext">Click to copy!</span></span> or through the following form:</p>
                <form action="/email" method="post" id="email_req">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Email Subject" required>
                    <label>Body:</label><br>
                    <textarea class="form-control" name="body" maxlength="320" placeholder="Email Body" required></textarea>
                    <p id="chars">Characters: <span id=char_count>0</span> / 320</p>
                    <div class="g-recaptcha" data-sitekey="6LeSfvknAAAAAGKNBPG9aL7H4aV5twaZI3w1IMBu"></div>
                    <button type="submit" class="btn btn-lg mt-3">Send Email</button>
                </form>
            </div>
        </div>
    </div>
    <div id="popup">
      <p id="popup_text"></p>
    </div>
</main>
<%- include("partials/footer.ejs") %>